$keyColor: #888;
$keyHoverColor: #666;

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw;
  // width: 600px;
  min-width: 300px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $keyColor;
  border-radius: 3px;
  padding: 2vh 1.5vw;
  // max-height: 80px;
  // min-width: 10px;
  margin: 4px;

  &:hover {
    background-color: $keyHoverColor;
    cursor: pointer;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
