.board {
    width: 50vh;
    height: 60vh;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 16.6%);
}

.grid-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: 2px solid #444;
    height: 8vh;
    margin: 3px;
}