$bg-win-color: rgb(138, 214, 88, 0.75);
$bg-lose-color: rgba(214, 88, 88, 0.75);
$display-state: none;

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.win {
  color: wheat;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  font-size: 300%;
  background-color: $bg-win-color;
  border: 2px solid wheat;
  border-radius: 3px;
}
.lose {
  color: wheat;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  font-size: 300%;
  background-color: $bg-lose-color;
  border: 2px solid wheat;
  border-radius: 3px;
}
.btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(82, 44, 187, 0.2) 0 -25px 18px -14px inset,
    rgba(94, 44, 187, 0.15) 0 1px 2px, rgba(94, 44, 187, 0.15) 0 2px 4px,
    rgba(94, 44, 187, 0.15) 0 4px 8px, rgba(94, 44, 187, 0.15) 0 8px 16px,
    rgba(94, 44, 187, 0.15) 0 16px 32px;
  color: rgb(19, 0, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover {
  box-shadow: rgba(187, 44, 180, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 44, 180, 0.25) 0 1px 2px, rgba(94, 44, 187, 0.25) 0 2px 4px,
    rgba(58, 44, 187, 0.25) 0 4px 8px, rgba(187, 44, 156, 0.25) 0 8px 16px,
    rgba(187, 44, 180, 0.25) 0 16px 32px;
  transform: scale(1.05);
}
